<!doctype html>
<html>
<head>
    <title>猜测您想要的类目</title>
</head>

<body>
    <form action="/" method="POST">
        标题: <input type="text" name="title" value="{{ title }}"></input>
                <input type="submit" value="提交" />
    </form>
    {% if names %}
        <p>您所需要的类目名可能是</p>
        <ul> 
            {% for name in names %}
            <li>{{ name[1] }} > {{ name[0] }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
